body {
    margin: 0;
    background: #050816;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#intro {
    text-align: center;
    margin-top: 80px;
}

#bottle {

    width: 220px;
    height: 320px;

    margin: 40px auto;

    position: relative;

    cursor: pointer;

    transition: transform .3s ease;

}

#bottle:hover {

    transform: scale(1.03);

}

#bottle::before {

    content: "";

    position: absolute;

    top: 0;
    left: 85px;

    width: 50px;
    height: 70px;

    background:
        rgba(255,255,255,.08);

    border:
        2px solid rgba(255,255,255,.2);

    border-radius:
        10px 10px 0 0;

}
#bottle::after {

    content: "";

    position: absolute;

    top: 50px;

    width: 220px;
    height: 250px;

    background:
        linear-gradient(
            135deg,
            rgba(255,255,255,.12),
            rgba(255,255,255,.04)
        );

    border:
        2px solid rgba(255,255,255,.2);

    border-radius:
        80px 80px 50px 50px;

    backdrop-filter:
        blur(6px);

    box-shadow:
        0 0 30px rgba(100,150,255,.15);

}

.cork {

    position: absolute;

    top: -10px;
    left: 80px;

    width: 60px;
    height: 25px;

    background:
        linear-gradient(
            #d8b27c,
            #b98a56
        );

    border-radius: 6px;

    z-index: 5;

}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#starField {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.star {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    from { opacity: .4; }
    to { opacity: 1; }
}

#messageModal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageModal.hidden {
    display: none;
}

.card {
    background: #10162b;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px;
}

#closeModal {
    float: right;
    cursor: pointer;
}

.star {
    position: absolute;
    width: 24px;
    height: 24px;

    background: gold;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );

    box-shadow:
        0 0 10px gold,
        0 0 20px gold;

    cursor: pointer;

    animation:
        twinkle 2s infinite alternate;
}

#counter {
    position: fixed;
    top: 20px;
    right: 20px;

    background: rgba(0,0,0,.4);
    padding: 10px 15px;
    border-radius: 20px;

    backdrop-filter: blur(8px);
}

